body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* APP-WIDE STYLING        *
*                          *
*                          *
*                          *
***************************/

* {
  color:white;
  /* background: purple; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
} 

body {
  font-size: 1.25rem;
  margin-bottom: 200px;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  background-image: url("./imgs/background.png");
}

.App {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.heading {
  display: block;
  background: #501B1D;
    font-family: Poppins-Bold;
    font-size: 30px;
    color: white;
    line-height: 1.2;
    text-align: center;
}

input {
  color: black;
  background: white;
}

div {
  display:block; 
}

/* button {
  color: black;
  background-color: white;
  border-radius: 15px;
  padding: 10px 20px 10px 20px;
} */

/* LOGIN PAGE STYLING      *
*                          *
*                          *
*                          *
***************************/

.login_form  {
  background: #501B1D;

}

.container-login100 {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("./imgs/background.png");
    border-radius: 20px;
    /* overflow: hidden; */
    box-shadow: 0px 5px grey;

}


.container-login100 form {
  width: 100%;
  height: 100%;
  /* display: flex;
  flex-direction: column; */
  align-items: center;
  
}

.container-login100 input {
  width: 100%;
}

.m-b-23 {
  margin-bottom: 23px;
}


.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #d9d9d9;
  color:white;
  background: #501B1D;
}

.wrap-login100 {
  height: 85vh;
  width: 350px;
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  color:white;
  background: #501B1D;
}



.validate-input {
  position: relative;
}

.login100-form {
  width: 100%;
}

.login100-form-title {
  display: block;
  font-family: Poppins-Bold;
  font-size: 39px;
  color:white;
  background: #501B1D;
  line-height: 1.2;
  text-align: center;
}

.form-group {
  color:white;
  background: #501B1D;
}

.p-t-8 {
  padding-top: 8px;
}
.p-r-55 {
  padding-right: 55px;
}

.p-l-55 {
  padding-left: 55px;
}

.p-b-54 {
  padding-bottom: 54px;
}

.p-b-49 {
  padding-bottom: 49px;
}

.p-b-31 {
  padding-bottom: 31px;
}

.p-t-65 {
  padding-top: 65px;
}

.m-b-23 {
  margin-bottom: 23px;
}

.text-right {
  text-align: right!important;
}

.container-login100-form-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 10px 10px 10px;
}

.flex-col-c {
  padding-top: 155px;
}

.p-10-20-10-20 {
  padding: 10px 20px 10px 20px;
}


/*  NAVBAR STYLING         *
*                          *
*                          *
*                          *
***************************/ 

.navbar {

  display: float;
}


/* INVENTORY CARDS STYLING *
*                          *
*                          *
*                          *
***************************/




.inventory_wrapper {
    display: flex;
    flex-wrap: wrap;
    height: 620px;
    width: 800px;
    margin: 50px auto;
    border-radius: 7px 7px 7px 7px;
    /* VIA CSS MATIC https://goo.gl/cIbnS */
    -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}

.beverage_card {

}


.beverage_card button {
  margin-top: auto;
  margin-bottom: 10px;
}

.beverage_card img, h3, h4, p {
  background: #C4AB8C;
}

.beverage_image {
  float: left;
  padding: 10px 10px 10px 10px;
  height: 220px;
  width: 127px;
}
.beverage_image img {
  border-radius: 7px 0 0 20px;

}
 .card_details {
  float: left;
  height: 420px;
  width: 327px;
  margin: 100px 25px 0px 50px;
  border: 2px solid black;
  border-radius: 0 7px 10px 7px;
  background-color: #ffffff;
}

.card_text {
  height: 300px;
  width: 327px;
}

 h2 {
  margin: 0 0 0 45px;
  padding-top: 52px;
  font-size: 34px;
  color: #474747;
  font-family: 'Bentham', serif;

}

.card_text h3 {
  margin: 25px 0 47px 38px;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #d2d2d2;
  letter-spacing: 0.2em;
}

.card_text p {
  margin: 20 0 0 50px;
  width: 250px;
  font-family: 'Playfair Display', serif;
  line-height: 1.7em;
  font-size: 15px;
  font-weight: lighter;
  overflow: hidden;
}

.card_button {
margin-bottom: 10px;
}


.card_button button {
  display: inline-block;
  height: 25px;
  width: 100px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-family: 'Raleway', sans-serif;
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  background-color: tomato;
  cursor: pointer;
  outline: none;
}

.card_button button:hover {
  background-color: #79b0a1;
}

/* MODAL STYLING *
*                          *
*                          *
*                          *
***************************/

#manifest .modal-content {
  background: #ADADAD;

}

#contained-modal-title-vcenter {
  color: #501B1D
}

.manifest_item_text{
  color: black;
  background: #ADADAD;
}


.new_item{
  background-color: #ADADAD;
  color: black;
}

.new_item > div{
  background-color: #ADADAD;
  color: black;
}


.btn-primary {
  
}

#bottom_nav {
  width: fit-content;
  left: auto;
}

.btn-primary{
  background-color: #83677B !important;
  border-color: thistle !important;
}

.modal-header{
background-color: #ADADAD !important;
}
.modal-body{
  background-color: #ADADAD !important;
 
}

.modal-footer{
  background-color: #ADADAD !important;
}

.modal-body .form-label{
 color: black !important;
}

#newItemCategory > option{
  color:black;
  background-color: #ADADAD;
}

#newItemCategory.custom-select {
  color: black;
}