body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* APP-WIDE STYLING        *
*                          *
*                          *
*                          *
***************************/

* {
  color:white;
  background: purple;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
} 

body {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  background-image: url("./imgs/background.png");
}

.App {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.heading {
  display: block;
    font-family: Poppins-Bold;
    font-size: 30px;
    color: white;
    line-height: 1.2;
    text-align: center;
}

input {
  color: black;
  background: white;
}

div {
  display:block; 
}

button {
  color: black;
  background-color: white;
  border-radius: 15px;
  padding: 10px 20px 10px 20px;
}

/* LOGIN PAGE STYLING      *
*                          *
*                          *
*                          *
***************************/

.login_form  {
  background: purple;

}

.container-login100 {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("./imgs/background.png");
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 5px grey;

}


.container-login100 form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.container-login100 input {
  width: 100%;
}

.m-b-23 {
  margin-bottom: 23px;
}


.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #d9d9d9;
  color:white;
  background: purple;
}

.wrap-login100 {
  height: 85vh;
  width: 350px;
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  color:white;
  background: purple;
}



.validate-input {
  position: relative;
}

.login100-form {
  width: 100%;
}

.login100-form-title {
  display: block;
  font-family: Poppins-Bold;
  font-size: 39px;
  color:white;
  background: purple;
  line-height: 1.2;
  text-align: center;
}

.form-group {
  color:white;
  background: purple;
}

.p-t-8 {
  padding-top: 8px;
}
.p-r-55 {
  padding-right: 55px;
}

.p-l-55 {
  padding-left: 55px;
}

.p-b-54 {
  padding-bottom: 54px;
}

.p-b-49 {
  padding-bottom: 49px;
}

.p-b-31 {
  padding-bottom: 31px;
}

.p-t-65 {
  padding-top: 65px;
}

.m-b-23 {
  margin-bottom: 23px;
}

.text-right {
  text-align: right!important;
}

.container-login100-form-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 10px 10px 10px;
}

.flex-col-c {
  padding-top: 155px;
}

.p-10-20-10-20 {
  padding: 10px 20px 10px 20px;
}


/*  NAVBAR STYLING         *
*                          *
*                          *
*                          *
***************************/ 

.navbar {

  display: float;
}


/* INVENTORY CARDS STYLING *
*                          *
*                          *
*                          *
***************************/


.inventory-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.beverage_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #C4AB8C;
  border: 2px solid black;
  border-radius: 10px;
  height: 350px;
  width: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;

  -webkit-box-shadow: 5px 5px 15px 5px #000000; 
box-shadow: 5px 5px 15px 5px #000000;
}

.beverage_card img {
  padding: 10px 10px 10px 10px;
}

.beverage_card button {
  margin-top: auto;
  margin-bottom: 10px;
}

.beverage_card img, h3, h4, p {
  background: #C4AB8C;
}

img {
  border-radius: 15px;
}